/* reset */
$base-bg: #FFF; 
$base-font-size: 62.5%; 
$base-line-height: 1; 
$custom-font-family: 'Raleway', sans-serif; 
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$text-color2: #8c8c8c;
$text-color3: #fff;
$title-color: #212121;
$title-font-family: $custom-font-family;

$font-size-h1: 9rem;
$line-height-h1: 90px;
$font-size-h2: 8rem;
$line-height-h2: 80px;
$font-size-h3: 5em;
$line-height-h3: 50px;

$bg-color: #191919;
$bg-color2: #fff;
$bg-color3: #212121;