@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Black.eot');
    src: url('../fonts/Raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Black.ttf') format('truetype'),
        url('../fonts/Raleway/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.eot');
    src: url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.eot');
    src: url('../fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.eot');
    src: url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto/RobotoCondensed-Bold.eot');
    src: url('../fonts/Roboto/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype'),
        url('../fonts/Roboto/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
